<h1>List of tweets in the database</h1>

<p *ngIf="!tweets"><em>Loading...</em></p>

<div class='row'>
    <div class='col-sm-9'>
    </div>
    <div class='col-sm-3'>
        <sentiment-filter></sentiment-filter>
    </div>
</div>

<table class='table' *ngIf="tweets">
    <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>Sentiment</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tweet of tweets">
            <td>{{ tweet.id }}</td>
            <td>{{ tweet.text }}</td>
            <td>
                <select class="form-control" (change)="updateTweet(tweet.id, $event.target.value)">
                    <option value="0" [selected]="tweet.sentiment == 0">Positive</option>
                    <option value="1" [selected]="tweet.sentiment == 1">Negative</option>
                    <option value="2" [selected]="tweet.sentiment == 2">Neutral</option>
                    <option value="3" [selected]="tweet.sentiment == 3">Positive and Negative</option>
                    <option value="4" [selected]="tweet.sentiment == 4">Undefined</option>
                </select>
            </td>
            <td><input class="btn btn-primary btn-sm" (click)="deleteTweet(tweet.id)">Delete
            </input></td>
        </tr>
    </tbody>
</table>

<div class='row'>
    <div class='col-sm-12'>
        <pagination></pagination>
    </div>
</div>